<footer class="footer">
  <div>
    Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä
    <a href="https://github.com/materiaalit/ohjelmointi-s17" class="footer__github-link" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  </div>
  <div class="improvement">
    <%= partial 'partials/improve_buttons' %>
  </div>
</footer>
