<footer class="footer">
    Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä
    <a href="https://github.com/2017-ohjelmointi/2017-ohjelmointi" class="footer__github-link" target="_blank">
      <i class="fa fa-github"></i>
    </a>
</footer>
