<footer class="footer">
  <div>
    T채m채 materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssill채
  </div>
  <div>
    Kurssin on tehnyt Helsingin Yliopiston Agile Education Research -tutkimusryhm채.
  </div>
  <div class="improvement">
    <%= partial 'partials/improve_buttons' %>     <a href="https://github.com/materiaalit/ohjelmointi-18" class="footer__github-link" target="_blank" rel="noopener">
      <i class="fa fa-github"></i>
    </a>
  </div>
</footer>
