<footer class="footer">
  <div>
    T채m채 materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssill채
  </div>
  <div>
    Kurssin on tehnyt Helsingin Yliopiston Agile Education Research -tutkimusryhm채.
  </div>
    <%= partial 'partials/improve_buttons' %>
  </div>
</footer>
