---
  title: Johdanto
---

<% partial 'partials/material_heading' do %>
  Yleistä kursseista
<% end %>

<p>
  Tämä materiaali on tarkoitettu Helsingin yliopiston tietojenkäsittelytieteen laitoksen kursseille ohjelmoinnin perusteet (5 op) ja ohjelmoinnin jatkokurssi (5 op) sekä <a href="http://mooc.fi/courses/2017/ohjelmoinnin-mooc/" target="_blank">Ohjelmoinnin MOOCin</a> materiaaliksi. Materiaalin ensimmäiset 7 osaa liittyvät kurssiin ohjelmoinnin perusteet ja seuraavat 7 osaa kurssiin ohjelmoinnin jatkokurssi.
</p>

<p>
  Kurssien oletettu työkuorma on noin 8-20 tuntia yhtä osaa kohden. Varaa kurssin tekemiseen aikaa.
</p>



<% partial 'partials/material_sub_heading' do %>
  Kohdeyleisö
<% end %>

<p>
  Materiaali on tarkoitettu kaikille ohjelmoinnin oppimisesta kiinnostuneille. Aiempaa ohjelmointikokemusta ei oleteta tai vaadita. Kurssille osallistuminen vaatii kuitenkin tietokoneen sekä mahdollisuuden kurssilla käytettävien ohjelmistojen asentamiseen. Helsingin yliopiston opiskelijat voivat tehdä kurssin tehtäviä Kumpulan kampuksella sijaitsevilla koneilla, jolloin omaa tietokonetta ei tarvita.
</p>


<% partial 'partials/material_sub_heading' do %>
  Osaamistavoitteet ja kurssin sisältö
<% end %>


<p>
  Kurssilla opitaan ohjelmoinnin perustaidot. Tutuksi tulevat muunmuassa syötteen lukeminen, tulostaminen, ehtolauseet, toistolauseet, listojen käsittely, oliot, ymym. Käsitteitä paljon oleellisemmassa roolissa on konkreettinen soveltaminen.
</p>

<p>
  Ison pyörän myötä tapahtunut osaamistavoitteiden päivittynyt hahmotelma löytyy osoitteesta <a href="https://docs.google.com/spreadsheets/d/1BFDSh1voHsllzXWPba_JnE9U9uYMOSr-HCrIRDNGMkc/edit#gid=1747703721" target="_blank">https://docs.google.com/spreadsheets/d/1BFDSh1voHsllzXWPba_JnE9U9uYMOSr-HCrIRDNGMkc/edit#gid=1747703721</a>. Dokumenttiin on toistaiseksi myös kommentointioikeudet.
</p>


<% partial 'partials/material_sub_heading' do %>
  Työskentelytavat ja aikataulu
<% end %>



<% partial 'partials/material_sub_sub_heading' do %>
  Kevät 2017
<% end %>


<p>
  Kurssin työskentelyyn kuuluu kurssimateriaalin lukeminen ja pohdinta, ohjelmointitehtävien tekeminen (joko kotona tai Kumpulan kampuksella Helsingissä) sekä konekokeiden suorittamisen.
</p>

<p>
  Kurssilla järjestetään viikoittain ohjausta Kumpulan kampuksella Exactum-rakennuksen salissa BK107. Ohjausta järjestetään 16.1.-3.3. (Ohjelmoinnin perusteet) ja 13.3.-7.5. (Ohjelmoinnin jatkokurssi) seuraavina aikoina:
</p>

<ul>
  <li>
    Tiistaisin 10-12
  </li>
  <li>
    Keskiviikkoisin 10-12, 14-19
  </li>
  <li>
    Torstaisin 14-19
  </li>
  <li>
    Perjantaisin 10-14
  </li>
</ul>


<p>
  Yksittäisen osan viimeinen palautusaika on <strong>Helsingin yliopiston kurssilaisilla</strong> aina perjantaisin klo 14:00. MOOC-kurssilla palautuspäivämäärät on kerrottu erikseen <a href="http://mooc.fi/courses/2017/ohjelmoinnin-mooc/aikataulu.html" target="_blank">MOOC-kurssin sivulla</a>. Tarkista tarkempi aika <a href="https://tmc.mooc.fi/" target="_blank">tehtäväsivulta TMC:stä</a>.
</p>

<p>
  Kumpulan Exactumin mikroluokissa (BK107, B221) saa työskennellä myös ohjausaikojen ulkopuolella, jos siellä ei ole tuolloin muuta toimintaa.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Kesä 2017
<% end %>


<p>
  Kurssin työskentelyyn kuuluu kurssimateriaalin lukeminen ja pohdinta, itsenäisten ohjelmointitehtävien tekeminen, sekä vapaaehtoisten pariohjelmointitehtävien tekeminen. Pariohjelmointia lukuunottamatta kurssin voi suorittaa täysin etänä -- pariohjelmointia ja tukea tekemiseen löytyy Kumpulan kampukselta Helsingissä. Sekä ohjelmoinnin perusteissa että ohjelmoinnin jatkokurssilla on kynällä ja paperilla tehtävä lopputentti.
</p>

<p>
  Kursseilla järjestetään ohjausta tehtävien tekemiseen Kumpulan kampuksella Exactum-rakennuksessa seuraavasti:
</p>


<p>
  <strong>
    Ohjelmoinnin perusteet, 8.5.-21.6.
  </strong>
</p>

<ul>
  <li>
    Maanantaisin 16:00-18:15, luokka BK107
  </li>
  <li>
    Tiistaisin 16:00-19:00, luokka BK107
  </li>
  <li>
    Keskiviikkoisin 13:00-16:00, luokka B221
  </li>
  <li>
    Torstaisin 16:00-19:00, luokka BK107
  </li>
  <li>
    Perjantaisin 14:30-19:00, luokka B221 (poikkeus 12.5. luokassa BK107)
  </li>
</ul>



<p>
  <strong>
    Ohjelmoinnin jatkokurssi, 25.7.-1.9.
  </strong>
</p>


<ul>
  <li>
    Tiistaisin 15:00-18:00, luokka BK107
  </li>
  <li>
    Keskiviikkoisin 12:00-16:30, luokka BK107
  </li>
  <li>
    Torstaisin 14:30-18:15, luokka BK107
  </li>
  <li>
    Perjantaisin 12:00-17:15, luokka BK107
  </li>
</ul>

<p>
  Ohjelmoinnin jatkokurssin ensimmäisen viikon (25.7-28.7.) ohjaukset pidetään luokassa B221 klo 12:00-15:00.
</p>

<p>
  Osien viimeinen palautusaika on aina sunnuntaisin klo 23:59. Tarkista tarkempi aika kurssin <a href="https://tmc.mooc.fi/" target="_blank">tehtäväsivulta TMC:stä</a>.
</p>

<p>
  Kumpulan Exactumin mikroluokissa (BK107, B221) saa työskennellä myös ohjausaikojen ulkopuolella, jos siellä ei ole tuolloin muuta toimintaa ja kiinteistö on auki.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Kurssimateriaalin lukeminen
<% end %>


<p>
  Lue kurssimateriaalia siten, että teet samalla itse kaikki lukemasi esimerkit. Esimerkkeihin kannattaa tehdä pieniä muutoksia ja tarkkailla, miten muutokset vaikuttavat ohjelman toimintaan. Äkkiseltään voisi luulla, että esimerkkien tekeminen ja muokkaaminen hidastaa opiskelua. Tämä ei kuitenkaan pidä paikkansa. Ohjelmoimaan ei ole vielä tietääksemme kukaan ihminen oppinut lukemalla (tai esim. luentoa kuuntelemalla). Oppiminen perustuu oleellisesti aktiiviseen tekemiseen ja rutiinin kasvattamiseen. Esimerkkien ja erityisesti erilaisten omien kokeilujen tekeminen on parhaita tapoja "sisäistää" luettua tekstiä. Kurssilla käytetyssä ohjelmointiympäristössä on kokeiluja varten tehtäväpohja, jonka nimi on "Hiekkalaatikko".
</p>

<p>
  Pyri myös tekemään tai ainakin yrittämään tehtäviä sitä mukaa kuin luet tekstiä. Jos et osaa heti tehdä jotain tehtävää, älä masennu, vaan kysy neuvoa tehtävän tekemiseen. Haastavimpia tehtäviä kannattaa tehdä useampaan otteeseen siten, että tehtävien uudelleen tekemisen välillä pitää muutaman tunnin tai päivän tauon.
</p>

<p>
  Kannattaa toimia myös niin, että pyrit sulkemaan muut häiriötekijät pois kun luet materiaalia. Tällaisia ovat esimerkiksi puhelinsovellukset, sosiaalisen median sivun, sähköpostiohjelmistot ym. Eräs hyvä tapa työskentelyn ajoittamiseen on <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_blank">Pomodoro-tekniikka</a>, missä (1) päätät seuraavan tavoitteesi tai tehtävän, (2) asetat kellon soimaan 25 minuutin kuluttua, (3) keskityt tavoitteeseesi kunnes kello soi. Jos saat hyvän ajatuksen tai idean, kirjoita se ylös, mutta älä lähde tekemään mitään siihen liittyvää. (4) Kun kello soi, lisää ruksi paperille. Jos rukseja on neljä, pidä pidempi tauko (esim. 30 minuuttia), vedä ne yli, ja aloita kohdasta 1. Jos rukseja on alle neljä, pidä lyhyempi tauko (n. 5 minuuttia). Voit käyttää esimerkiksi osoitteessa <a href="https://tomato-timer.com/" target="_blank">https://tomato-timer.com/</a> olevaa kelloa työsi ajastukseen.
</p>

<p>
  Kurssimateriaalia ei ole tarkoitettu vain kertaalleen luettavaksi. Joudut varmasti myöhemmin palaamaan jo aiemmin lukemiisi kohtiin tai aiemmin tekemiisi tehtäviin. Kurssimateriaali teksti ei sisällä kaikkea oleellista ohjelmointiin liittyvää. Itse asiassa ei ole olemassa kirjaa josta löytyisi kaikki oleellinen. Joudut joka tapauksessa ohjelmoijan urallasi etsimään tietoa myös omatoimisesti. Kurssin harjoitukset sisältävät jo jonkun verran ohjeita, mistä suunnista ja miten hyödyllistä tietoa on mahdollista löytää.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Tehtävien tekeminen ja pariohjelmointi
<% end %>

<p>
  Kurssilla on käytössä ohjelmointiympäristö Test My Code (asennusohjeet alempana), joka lataa tehtävät sekä antaa niistä automaattista palautetta. Normaalien ohjelmointitehtävien lisäksi kurssilla on myös pariohjelmointitehtäviä, joita tehdään Kumpulassa. Parit muodostetaan aina pariohjelmointitilaisuuksien alussa.
</p>

<p>
  Pariohjelmointitehtävien tekemiseen järjestetään yhteisiä aloitusaikoja, jotta parien muodostaminen sujuu luontevasti. Keväällä 2017 aloitukset ovat kurssin toisesta viikosta (23.1., 20.3.) lähtien tiistaisin klo 10:15, keskiviikkoisin klo 10:15 ja 16:15 sekä torstaisin klo 14:15. Kesällä 2017 aloitukset ovat maanantaisin klo 16:15 alkaen ja keskiviikkoisin klo 13:15 alkaen (ohjelmoinnin perusteet) ja torstaisin klo 16:15 alkaen (ohjelmoinnin jatkokurssi).
</p>

<p>
  Jos sinulla on valmiiksi pari, pariohjelmointia saa tehdä myös pariohjelmointiin varattujen aikojen ulkopuolella, mutta kuitenkin ohjausaikoina. Jos siis tulet oman parin kanssa, varmista, että ohjausaikaa on vähintään 80 minuuttia jäljellä.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Konekokeet (kevät 2017)
<% end %>

<p>
  Kurssilla Ohjelmoinnin perusteet on 3 konekoetta ja kurssilla Ohjelmoinnin jatkokurssi on 3 konekoetta. Koko aikataulutetun Ohjelmoinnin MOOCin suorittavat osallistuvat kaikkiin konekokeisiin.
</p>

<p>
  Konekokeessa on useampia tehtäviä, jotka tehdään TMC-järjestelmän kautta ladattaviin tehtäväpohjiin. Konekokeissa on aina rajattu suoritusaika, joka alkaa konekokeen aloitushetkestä.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Yhteistyö
<% end %>

<p>
  Hyvä yhteistyö keskittyy jokaisen osapuolen oppimiseen ja parantaa oppimistuloksia. Yhteistyö on kurssin ohjelmointitehtäviä pohtiessa sallittua ja suositeltavaa. Kumpulan kampuksella tehtävissä pariohjelmointitehtävissä yhteistyö on myös koko tekemisen ydin.
</p>

<p>
  Kurssilla tehtävissä tehtävissä noudatetaan <a href="http://courses.cs.washington.edu/courses/cse100/99au/syllabus.htm#OTHER" target="_blank">Gilligan's Island -sääntöä</a>:
</p>

<p><em>

  <strong>The Gilligan's Island Rule</strong>: You are free to meet with fellow students(s) and discuss an assignment with them. Writing on a board or shared piece of paper during the meeting is acceptable; however, you should not take any written (electronic or otherwise) record away from the meeting. Everything that you derive from the collaboration should be in your head. After the meeting, engage in at least a half-hour of mind-numbing activity (like watching an episode of Gilligan's Island), before starting to work on the assignment. This will assure that you are able to reconstruct what you learned from the meeting by yourself.

</em></p>

<p>
  Jos teet tehtäviä yhdessä muiden kanssa, sinun tulee tehdä ja palauttaa omat ratkaisusi itse. Pidä yhteistyörupeaman jälkeen ainakin puolen tunnin tauko, jolloin teet jotain täysin muuta (esim. katsot jakson Gilligan's Islandia tai Salattuja elämiä), ja aloita omien tehtäviesi työstäminen vasta sitten. Kirjoita myös tehtävien palautuksen yhteyteen kommenteissa niiden kurssikavereidesi nimet, joiden kanssa teit yhteistyötä.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Opintovilpistä
<% end %>

<p>
  Kurssilla seurataan Helsingin yliopiston opintokäytäntöjä. Plagiarismi ja opintovilppi, eli esimerkiksi netissä olevien tai kaverilta saatujen vastausten kopiointi ja niiden palauttaminen omana työnä on kurssilla kiellettyä. Luonnollisesti myös kaikki yhteistyö ja avun kysyminen tai antaminen on kiellettyä konekokeen tehtäviin liittyen.
</p>

<p>
  Todettu opintovilppi johtaa kurssisuorituksen hylkäämiseen ja toistuva opintovilppi voi johtaa opinto-oikeuden määräaikaiseen menettämiseen.  Lue lisää osoitteesta <a href="http://blogs.helsinki.fi/alakopsaa/opiskelijalle/"  target="_blank" >http://blogs.helsinki.fi/alakopsaa/opiskelijalle/</a>.
</p>

<%= partial 'partials/quiz', locals: { id: '587bc5f11b527d0004a7971c' } %>


<% partial 'partials/material_sub_sub_heading' do %>
  Tukiväylät
<% end %>

<p>
  Kurssien ensisijainen tukiväylä on Kumpulan kampuksella Exactumissa tapahtuva läsnäohjaus, johon myös MOOC-suorittajat ovat tervetulleita kysymään kurssiin liittyviä kysymyksiä.
</p>

<p>
  Verkon yli nopein tapa avun kysymiseen on kurssin keskustelukanava <code>#mooc.fi</code>, johon pääsee helpointen kanavan Matrix-huoneen kautta: <a href="https://riot.im/app/#/room/#mooc.fi:matrix.org"  target="_blank" rel="noopener">https://riot.im/app/#/room/#mooc.fi:matrix.org</a>. Jos et pidä modernista teknologiasta, voit myös liityä huoneeseen Ircnetin kautta seuraamalla näitä ohjeita: <a href="http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/" target="_blank" rel="noopener">http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/</a>.
</p>

<% partial 'partials/material_sub_heading' do %>
  Arvostelu
<% end %>



<% partial 'partials/material_sub_sub_heading' do %>
  Kevät 2017
<% end %>



<p>
  Kurssien arvostelu perustuu tehtyihin ohjelmointitehtäviin sekä konekokeisiin. Kokonaisarvostelussa ohjelmointitehtävien painoarvo on 55% koko kurssin arvosanasta ja konekokeiden painoarvo 45% koko kurssin arvosanasta. Yksittäisellä kurssilla ohjelmointitehtäviä on 7 sarjaa ja konekokeita on 3. Käytössä myös koeleikkuri, eli kurssin viimeisestä konekokeesta tulee saada vähintään puolet pisteistä kurssin läpäisemiseksi.
</p>



<p>
  Tehtäväpisteet:
</p>


<table cellpadding="5">
  <tr>
    <th>
      Osa
    </th>
    <td>
      1
    </td>
    <td>
      2
    </td>
    <td>
      3
    </td>
    <td>
      4
    </td>
    <td>
      5
    </td>
    <td>
      6
    </td>
    <td>
      7
    </td>
    <td>
      yht.
    </td>
  </tr>
  <tr>
    <th>
      Maksimipisteet
    </th>
    <td>
      7
    </td>
    <td>
      8
    </td>
    <td>
      8
    </td>
    <td>
      8
    </td>
    <td>
      8
    </td>
    <td>
      8
    </td>
    <td>
      8
    </td>
    <td>
      55
    </td>
  </tr>
</table>


<p>&nbsp;</p>

<p>
  Konekokeet:
</p>

<table cellpadding="5">
  <tr>
    <th>
      Konekoe
    </th>
    <td>
      1 (materiaalin osat 1-2 tai 8-9)
    </td>
    <td>
      2 (materiaalin osat 1-4 tai 8-11)
    </td>
    <td>
      3 (materiaalin osat 1-7 tai 8-14)
    </td>
    <td>
      yht.
    </td>
  </tr>
  <tr>
    <th>
      Maksimipisteet
    </th>
    <td>
      10
    </td>
    <td>
      15
    </td>
    <td>
      20
    </td>
    <td>
      45
    </td>
  </tr>
</table>


<p>&nbsp;</p>

<p>
  Arvosanarajat:
</p>


<table cellpadding="5">
  <tr>
    <th>
      Kurssipisteet
    </th>
    <th>
      Arvosana
    </th>
  </tr>
  <tr>
    <td>
      91 tai yli
    </td>
    <td>
      5/5
    </td>
  </tr>
  <tr>
    <td>
      81-91
    </td>
    <td>
      4/5
    </td>
  </tr>
  <tr>
    <td>
      71-81
    </td>
    <td>
      3/5
    </td>
  </tr>
  <tr>
    <td>
      61-71
    </td>
    <td>
      2/5
    </td>
  </tr>
  <tr>
    <td>
      51-61
    </td>
    <td>
      1/5
    </td>
  </tr>
  <tr>
    <td>
      &lt; 51
    </td>
    <td>
      hylätty
    </td>
  </tr>
</table>

<p>&nbsp;</p>

<p>
  Täydet tehtäväpisteet kustakin osasta aina tekemällä kaikki kyseisen osan tehtävät. Jos kaikkia tehtäviä ei ehdi tekemään, skaalataan pisteet lineaarisesti (esim. puolet tehtävistä = puolet tehtäväpisteistä). Huomaathan, että osassa tehtävistä on useampi osa.
</p>

<p>
  Materiaalin oikeassa alalaidassa mahdollisesti näkyvässä visualisaatiossa oleva työskentelypisteytys ei vaikuta kurssin arvosteluun. Siitä on toivottavasti kuitenkin hyötyä oman opiskelun rytmittämisessä.
</p>

<p>&nbsp;</p>

<p>
  Kevään aikana voi suorittaa kaksi kurssia: Ohjelmoinnin perusteet (materiaalin osat 1-7, kolmas periodi) ja Ohjelmoinnin jatkokurssin (materiaalin osat 8-14, neljäs periodi). Ohjelmoinnin MOOC koostuu molemmasta kurssista.
</p>


<p>
  <strong>Huom!</strong> Edeltävä arvosteluasteikko olettaa, että hyväksyt analytiikkadatan keräämisen kurssin ohjelmointitehtävien ja konekokeiden tekekemisestä. Analytiikkadata sisältää ajoittain kerättäviä aikaleimattuja kopioita kullakin ajanhetkellä työstämästäsi ohjelmointitehtävästä. Analytiikkadataa ei kerätä omista projekteistasi tai muualta koneeltasi.
</p>

<% partial 'partials/material_sub_sub_heading' do %>
  Kesä 2017
<% end %>


<p>
  Kurssien arvostelu perustuu tehtyihin ohjelmointitehtäviin sekä kynällä ja paperilla tehtäviin kurssikokeisiin. Kokonaisarvostelussa ohjelmointitehtävien painoarvo on 55% koko kurssin arvosanasta ja kurssikokeen painoarvo 45% koko kurssin arvosanasta. Yksittäisellä kurssilla ohjelmointitehtäviä on 7 sarjaa. Ohjelmoinnin jatkokurssilla viimeinen sarja on vapaaehtoinen ja antaa bonuspisteitä.
</p>

<p>
  Sekä ohjelmoinnin perusteissa että ohjelmoinnin jatkokurssilla on käytössä koeleikkuri. Tämä tarkoittaa sitä, että kurssin kurssikokeesta tulee saada vähintään puolet pisteistä kurssin läpäisemiseksi.
</p>



<p>
  Tehtäväpisteet (ohjelmoinnin perusteet):
</p>


<table cellpadding="5">
  <tr>
    <th>
      Osa
    </th>
    <td>
      1
    </td>
    <td>
      2
    </td>
    <td>
      3
    </td>
    <td>
      4
    </td>
    <td>
      5
    </td>
    <td>
      6
    </td>
    <td>
      7
    </td>
    <td>
      yht.
    </td>
  </tr>
  <tr>
    <th>
      Maksimipisteet
    </th>
    <td>
      7
    </td>
    <td>
      8
    </td>
    <td>
      8
    </td>
    <td>
      8
    </td>
    <td>
      8
    </td>
    <td>
      8
    </td>
    <td>
      8
    </td>
    <td>
      55
    </td>
  </tr>
</table>


<p>
  Tehtäväpisteet (ohjelmoinnin jatkokurssi):
</p>


<table cellpadding="5">
  <tr>
    <th>
      Osa
    </th>
    <td>
      1
    </td>
    <td>
      2
    </td>
    <td>
      3
    </td>
    <td>
      4
    </td>
    <td>
      5
    </td>
    <td>
      6
    </td>
    <td>
      7
    </td>
    <td>
      yht.
    </td>
  </tr>
  <tr>
    <th>
      Maksimipisteet
    </th>
    <td>
      9
    </td>
    <td>
      9
    </td>
    <td>
      9
    </td>
    <td>
      10
    </td>
    <td>
      9
    </td>
    <td>
      9
    </td>
    <td>
      (bonus +5p)
    </td>
    <td>
      55
    </td>
  </tr>
</table>


<p>&nbsp;</p>

<p>
  Arvosanarajat:
</p>


<table cellpadding="5">
  <tr>
    <th>
      Kurssipisteet
    </th>
    <th>
      Arvosana
    </th>
  </tr>
  <tr>
    <td>
      91 tai yli
    </td>
    <td>
      5/5
    </td>
  </tr>
  <tr>
    <td>
      81-91
    </td>
    <td>
      4/5
    </td>
  </tr>
  <tr>
    <td>
      71-81
    </td>
    <td>
      3/5
    </td>
  </tr>
  <tr>
    <td>
      61-71
    </td>
    <td>
      2/5
    </td>
  </tr>
  <tr>
    <td>
      51-61
    </td>
    <td>
      1/5
    </td>
  </tr>
  <tr>
    <td>
      &lt; 51
    </td>
    <td>
      hylätty
    </td>
  </tr>
</table>

<p>&nbsp;</p>

<p>
  Täydet tehtäväpisteet saa kustakin osasta aina tekemällä kaikki kyseisen osan tehtävät. Jos kaikkia tehtäviä ei tee, skaalataan pisteet lineaarisesti (esim. puolet tehtäväpisteistä = puolet osan kurssipisteistä). Huomaathan, että osassa tehtävistä on useampi osa.
</p>

<p>
  Materiaalin oikeassa alalaidassa mahdollisesti näkyvässä visualisaatiossa oleva työskentelypisteytys ei vaikuta kurssin arvosteluun. Siitä on toivottavasti kuitenkin hyötyä oman opiskelun rytmittämisessä.
</p>


<p>
  <strong>Huom!</strong> Edeltävä arvosteluasteikko olettaa, että hyväksyt analytiikkadatan keräämisen kurssin ohjelmointitehtävien tekekemisestä. Analytiikkadata sisältää ajoittain kerättäviä aikaleimattuja kopioita kullakin ajanhetkellä työstämästäsi ohjelmointitehtävästä. Analytiikkadataa ei kerätä omista projekteistasi tai muualta koneeltasi.
</p>


<!--
<% partial 'partials/material_sub_sub_heading' do %>
  Arvostelu Helsingin yliopiston opiskelijoille
<% end %>


<p>
  Helsingin yliopistolla järjestettävällä kurssilla on lisäksi viikoittaisia pariohjelmointitehtäviä. Pariohjelmointitehtävien tekemisestä Kumpulan kampuksella voi saada yhden lisäpisteen viikkoa kohti. Pariohjelmointitehtävistä kerätyt pisteet lasketaan kokonaiskurssipisteisiin.
</p>

<p>
  Pariohjelmointitehtävien tekemiseen järjestetään yhteisiä aloitusaikoja, jotta parien muodostaminen sujuu luontevasti. Aloitukset ovat kurssin toisesta viikosta  (23.1.) lähtien tiistaisin klo 10:15, keskiviikkoisin klo 10:15 ja 16:15 sekä torstaisin klo 14:15. Jos sinulla on valmiiksi pari, pariohjelmointia saa tehdä myös pariohjelmointiin varattujen aikojen ulkopuolella, mutta kuitenkin ohjausaikoina.
</p>


<p>
  <strong>Huom!</strong> Jos et hyväksy analytiikkadatan keräämistä, kurssin suoritus tapahtuu tehtäviä tekemällä sekä Kumpulassa järjestettävään erilliskokeeseen osallistumalla. Tällöin koko kurssin arvostelu perustuu vain erilliskokeessa suoriutumiseen. Analytiikkadatan keräämisen kytkemiseen annetaan ohjeet ohjelmointiympäristön asennuksen yhteydessä.
</p>

-->


<% partial 'partials/material_sub_sub_heading' do %>
  Arvostelu muille osallistujille (Ohjelmoinnin MOOC)
<% end %>

<p>
  Arvosteluasteikko on sama kuin Helsingin yliopiston opiskelijoilla. Jos haluat kurssista suoritusmerkinnän Helsingin yliopiston Avoimen yliopiston kautta, tai pyrit kurssin kautta opiskelijaksi Helsingin yliopistoon, tulee sinun hyväksyä analytiikkadatan kerääminen. Analytiikkadatan keräämisen kytkemiseen annetaan ohjeet ohjelmointiympäristön asennuksen yhteydessä.
</p>

<p>
  Pariohjelmointi ei ole osa Ohjelmoinnin MOOCia.
</p>

<p>
  Helsingin yliopistoon pyrkijöiden tulee kerätä kurssin jokaisesta osasta vähintään 90% saatavilla olevista pisteistä. Tarkempaa tietoa tästä osoitteessa <a href="http://mooc.fi/courses/2017/ohjelmoinnin-mooc/" target="_blank">http://mooc.fi/courses/2017/ohjelmoinnin-mooc/</a>.
</p>




<% partial 'partials/material_heading' do %>
  Tunnukset ja työvälineet
<% end %>



<% partial 'partials/material_sub_heading' do %>
  Käyttäjätunnuksen luominen
<% end %>

<p>
  Kurssilla tarvitaan käyttäjätunnus Test My Code (TMC) -järjestelmään, jota käytetään tehtävien automaattiseen arviointiin. Käyttäjätunnuksella voit myös kirjautua tähän materiaaliin, jolloin pääset vastaamaan materiaalissa oleviin kyselyihin.
</p>

<p>
  <strong>Huom!</strong> Jos olet Helsingin yliopiston opiskelija, aseta käyttäjätunnukseksesi opiskelijanumerosi. Näin opintopisteiden liittäminen kurssisuoritukseen helpottuu merkittävästi. Jos taas et ole Helsingin yliopiston opiskelija, keksi itsellesi sopiva käyttäjätunnus. Kun jatkossa kysymme TMC-tunnustasi, tarkoitamme sillä tätä käyttäjätunnusta.
</p>

<p>
  Käyttäjätunnuksen luominen onnistuu sivulla <a href="https://tmc.mooc.fi/user/new" target="_blank">https://tmc.mooc.fi/user/new</a>.
</p>

<p>
  Kun olet luonut käyttäjätunnuksen, voit kirjautua tähän materiaaliin materiaalin oikeassa ylälaidassa olevan "Kirjaudu sisään"-napin kautta.
</p>

<% partial 'partials/material_sub_heading' do %>
  Ohjelmointiympäristön asentaminen
<% end %>


<p>
  Kurssin ohjelmointiympäristönä käytetään NetBeans-nimistä ohjelmointiympäristöä, johon lisätään TMC-niminen liitännäinen. Nämä työvälineet löytyvät Kumpulan kampuksen Exactumin mikroluokista B221 ja BK107 asennettuna nimellä "TMCBeans".
</p>

<p>
  Jos teet kurssia kotoa, tulee sinun asentaa koneellesi sekä tuki Java-ohjelmien kehittämiselle, että ohjelmien kehittämiseen käytettävä NetBeans with TMC-ympäristö.
</p>

<ul>

  <li>
    <strong>Javan asentaminen (* linux, kts. alla!)</strong>: lataa uusin Javan kehitysympäristö (Java SE Development Kit 8u112) osoitteesta <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html" target="_blank">http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html</a>. Lataamasi versio riippuu käytössäsi olevasta käyttöjärjestelmästä, esimerkiksi Macintosh-käyttäjät lataavat tiedoston <code>jdk-8u112-macosx-x64.dmg</code> ja 64-bittisen Windows-käyttöjärjestelmän käyttäjät lataavat tiedoston <code>jdk-8u112-windows-x64.exe</code>. Kun olet ladannut tiedoston, asenna se koneellesi.
  </li>

  <li>
    <strong>NetBeans with TMC:n asentaminen</strong>: Mene osoitteeseen <a href="http://update.testmycode.net/installers/tmc-netbeans_org_mooc/" target="_blank">http://update.testmycode.net/installers/tmc-netbeans_org_mooc/</a>. Osoitteessa on listattuna eri asennusohjelmat eri käyttöjärjestelmille -- valitse listalla olevista sopivin ja lataa se. Esimerkiksi Windows-käyttäjät lataavat tiedoston <code>http://update.testmycode.net/installers/tmc-netbeans_org_mooc/tmc-netbeans_org_mooc_tmcbeans-windows.exe</code> ja Linuxilla <code>http://update.testmycode.net/installers/tmc-netbeans_org_mooc/tmc-netbeans_org_mooc_tmcbeans-windows.sh</code> jne. Kun tiedoston lataaminen on valmis, asenna sovellus koneellesi.
  </li>
</ul>


<p>
  <strong>(*)</strong> Linux-koneilla OpenJDK:n asentaminen on todennäköisesti helpompaa kuin yllämainitun Oraclen Java-version. OpenJDK:n asennus tapahtuu Ubuntussa komentoriviltä seuraavalla komennolla:
</p>

<pre>
sudo apt-get install openjdk-8-jdk
</pre>

<p>
  Asenna tämän jälkeen vielä OpenJFX, jota käytetään käyttöliittymien tekemiseen ja käsittelyyn. Tämän asentaminen onnistuu Ubuntussa (komentoriviltä) komennolla:
</p>

<pre>
sudo apt-get install openjfx
</pre>

<p>
  Joissain Linux-koneissa tulee lisäksi NetBeans with TMC:n asennuksen yhteydessä asettaa ensiksi ladatulle asennuspaketille suoritusoikeudet. Tämä tapahtuu klikkaamalla asennuspakettia oikealla hiirennapilla ja valitsemalla Properties. Valitse tämän jälkeen Permissions, ja aseta Allow executing file as a program -ruutuun ruksi. Ohjelman asennuksen pitäisi tämän jälkeen käynnistyä kun tuplaklikkaat tiedostoa ja valitset Run.
</p>

<p>
  Kun olet saanut kurssin työvälineet asennettua, seuraava askel on kurssin valinta ohjelmointiympäristössä.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Oikean kurssin valinta ohjelmointiympäristössä
<% end %>

<p>
  Kurssimateriaalia käytetään useammalla eri kurssilla.
</p>

<ul>
  <li>
    <strong>Helsingin yliopiston kesällä 2017 järjestettävät kurssit Ohjelmoinnin perusteet ja Ohjelmoinnin jatkokurssi</strong>. Valitse TMC:n asetuksista palvelimen osoitteeksi (server address) <code>https://tmc.mooc.fi/org/hy/courses/214</code>. Kurssin nimi on tällöin <code>hy-ohpe-ja-ohja-kesa2017</code>.
  </li>
  <li>
    <strong>Helsingin yliopiston kevään 2017 kurssi Ohjelmoinnin perusteet</strong> (kurssi <a href="https://courses.helsinki.fi/fi/581325/117155146" target="_blank">https://courses.helsinki.fi/fi/581325/117155146</a>). Jos teet kurssia Helsingin yliopistolla, valitse TMC:n asetuksista palvelimen osoitteeksi (server address) <code>https://tmc.mooc.fi/org/hy/courses/198</code>. Kurssin nimi on tällöin <code>hy-ohpe-k2017</code>.
  </li>
  <li>
    <strong>Helsingin yliopiston kevään 2017 kurssi Ohjelmoinnin jatkokurssi</strong> (kurssi <a href="https://courses.helsinki.fi/fi/582103/117199118" target="_blank">https://courses.helsinki.fi/fi/582103/117199118</a>). Jos teet kurssia Helsingin yliopistolla, valitse TMC:n asetuksista palvelimen osoitteeksi (server address) <code>https://tmc.mooc.fi/org/hy/courses/208</code>. Kurssin nimi on tällöin <code>hy-ohja-k2017</code>.
  </li>
  <li>
    Aikataulutettu <strong>Ohjelmoinnin MOOC</strong> (ja Avoin yliopisto) (kurssi <a href="http://mooc.fi/courses/2017/ohjelmoinnin-mooc/" target="_blank">http://mooc.fi/courses/2017/ohjelmoinnin-mooc/</a>). Jos teet Ohjelmoinnin MOOCia aikataulutettuna versiona, valitse TMC:n asetuksista palvelimen osoitteeksi (server address) <code>https://tmc.mooc.fi/org/mooc/courses/199</code>. Kurssin nimi on tällöin <code>mooc-2017-ohjelmointi</code>.
  </li>
  <li>
    <strong>Aikatauluttamaton Ohjelmoinnin MOOC</strong> (kurssi <a href="http://mooc.fi/courses/2017/ohjelmoinnin-mooc/" target="_blank">http://mooc.fi/courses/2017/ohjelmoinnin-mooc/</a>). Jos teet Ohjelmoinnin MOOCia aikatauluttamattomana versiona, valitse TMC:n asetuksista palvelimen osoitteeksi (server address) <code>https://tmc.mooc.fi/org/mooc/courses/200</code>. Kurssin nimi on tällöin <code>mooc-2017-ohjelmointi-nodl</code>.
  </li>
</ul>

<p>
  Ylläolevat asetukset saa asetettua NetBeans with TMC:n valikosta TMC -> Settings. TMC:hen asetettava käyttäjätunnus on aiemmin luomasi TMC-tunnus, ja salasana on luomallesi tunnuksellesi asettamasi salasana.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Analytiikkadatan kerääminen ja arvostelu
<% end %>

<p>
  Varmista että TMC:n asetuksissa (Valikko TMC -> Settings) kohdassa "Send snapshots of your progress for study" on ruksi.  MOOC-suorituksia tai Helsingin yliopiston avoimen yliopiston suorituksia ei arvostella ilman tätä. Jos olet opiskelijana Helsingin yliopistolla ja et halua että työstämistäsi tehtävistä kerätään ajoittaista dataa kurssiarvostelua varten, voit suorittaa kurssin Kumpulassa järjestettävällä erilliskokeella. Analytiikkadataa kerätään vain kurssiin liittyvistä harjoitustehtävistä, ei muista projekteistasi tai muualta koneeltasi.
</p>


<%= partial 'partials/quiz', locals: { id: '587bc4a71b527d0004a7971b' } %>


<% partial 'partials/material_sub_heading' do %>
  Ensimmäisen ohjelman palauttaminen
<% end %>


<p>
  Seuraavalla videolla näytetään miten tehtävien tekeminen ja palauttaminen NetBeansilla ja TMC:llä tapahtuu. Video perustuu hieman aiempaan kurssiin, joten tehtävä ei ole täysin identtinen nykyisen kurssin ensimmäisen tehtävän kanssa.
</p>

<iframe width="420" height="315" src="//www.youtube.com/embed/sQYq2LISMRU" frameborder="0" allowfullscreen=""></iframe>



<% partial 'partials/material_sub_heading' do %>
  Kurssimateriaalin tekijät ja lisenssi
<% end %>

<p>
  Kurssimateriaalin ovat tehneet Arto Hellas (né Vihavainen) ja Matti Luukkainen. Kurssin sisältöön ovat vaikuttaneet myös Matti Paksula, Antti Laaksonen, Pekka Mikkola, Juhana Laurinharju, Martin Pärtel, Joel Kaasinen ja Mikael Nousiainen.
</p>

<p>
  Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida samanlaisella vapaalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty.
</p>


<% partial 'partials/material_sub_heading' do %>
  Kurssilla tehtävästä tutkimuksesta
<% end %>


<p>
  Kurssilla tehdään oppimiseen liittyvää tutkimusta. Tällä tutkimuksella on useampia tavoitteita: (1) lähestyä tilannetta, missä oppimateriaali ja tehtävät osaavat ottaa oppijoiden yksilölliset erot paremmin huomioon ja reagoida niihin tarjoten kohdennetumpaa opetusta, (2) kehittää digitaalisissa ympäristöissä tapahtuvaan oppimiseen liittyvää ymmärrystä ja tietoa, sekä (3) tukea tutkimustiedon kautta muita oppimaterialien kehittäjiä ja oppimisen tutkijoita.
</p>

<p>
  Tutkimusdatan hallinnasta vastaa Helsingin yliopiston tietojenkäsittelytieteen laitoksen Agile Education Research -ryhmän Arto Hellas. Anonymisoimattomaan tutkimusdataan eivät pääse käsiksi muut tutkijat.
</p>


<%= partial 'partials/quiz', locals: { id: '5877e97fd095c40004e4b1a9' } %>





<% partial 'partials/hint', locals: { name: 'Sitten materiaaliin...' } do %>

  <p>
    Löydät tämän sivun ylälaidasta linkin "Osa 1", jolla pääset ensimmäiseen osaan käsiksi. Siirtyminen onnistuu myös <a href="/part1/">tästä</a> painamalla. Ohjelmoinnin jatkokurssi alkaa materiaalin osasta 8.
  </p>

<% end %>
