---
  title: Johdanto
---

<% partial 'partials/material_heading' do %>
  Yleistä
<% end %>

<p>
  Tämä materiaali on tarkoitettu Helsingin yliopiston syksyn 2017 kursseille ohjelmoinnin perusteet (5 op) ja ohjelmoinnin jatkokurssi (5 op). Materiaalin osat 1-7 liittyvät periodissa I järjestettävään kurssiin ohjelmoinnin perusteet ja osat 8-14 periodissa II järjestettävään kurssiin ohjelmoinnin jatkokurssi.
</p>

<p>
  Materiaali on tarkoitettu kaikille ohjelmoinnin oppimisesta kiinnostuneille. Kurssille saa osallistua kuka tahansa Helsingin yliopiston opiskelija. Aiempaa ohjelmointikokemusta ei oleteta tai vaadita. Kurssille osallistumista varten tarvitset tietokoneen sekä mahdollisuuden kurssilla käytettävien ohjelmistojen asentamiseen. Helsingin yliopiston opiskelijat voivat tehdä kurssin tehtäviä Kumpulan kampuksella sijaitsevilla koneilla, jolloin omaa tietokonetta ei tarvita.
</p>

<p>
  Kurssien oletettu työkuorma on noin 8-20 tuntia yhtä osaa kohden. Varaa kurssin tekemiseen aikaa.
</p>

<% partial 'partials/material_sub_heading' do %>
  Osaamistavoitteet
<% end %>

<p>
  Kursseilla opitaan perustaidot ohjelmoinnista Java-kielellä. Tutuksi tulevat muunmuassa syötteen lukeminen, tulostaminen, ehtolauseet, toistolauseet, listojen käsittely, oliot, ymym.
</p>

<% partial 'partials/material_sub_sub_heading' do %>
  Ohjelmoinnin perusteet
<% end %>

<table class="table">
  <tr>
    <th>
      Osa (Viikko)
    </th>
    <th>
      Osaamistavoitteet
    </th>
  </tr>
  <tr>
    <td>
      1
    </td>
    <td>
      Tuntee ohjelmoinnin peruskäsitteistä muuttujat, ehtolauseet, toistolauseet. Ymmärtää ohjelman suoritusjärjestyksen. Osaa kirjoittaa ohjelmia, jotka lukevat käyttäjältä syötettä ja tekevät laskentaa syötteen perusteella.
    </td>
  </tr>
  <tr>
    <td>
      2
    </td>
    <td>
      Ymmärtää vuokaavioiden idean ja osaa piirtää vuokaavioita annetusta ohjelmasta. Hahmottaa ja tunnistaa ohjelman käyttämien muuttujien tilan ohjelman eri suoritusvaiheessa. Osaa soveltaa toistolausetta ohjelmointiongelmissa. Tuntee käsitteet metodi, parametri ja kutsupino. Osaa luoda ja käyttää parametrillisia metodeja.
    </td>
  </tr>
  <tr>
    <td>
      3
    </td>
    <td>
      Tuntee loogiset operaatiot ja ja tai. Osaa luoda metodeja, jotka palauttavat arvon. Ymmärtää miten ohjelman suoritus etenee metodikutsun yhteydessä. Ymmärtää muuttujien näkyvyyden ja olemassaolon. Tuntee käsitteen merkkijono ja osaa käsitellä merkkijonoja (erit. vertailu). Tuntee käsitteet olio, konstruktori ja olion metodit. Luo ainakin yhden oman luokan. Luo olioita tekemistään luokista. Ymmärtää static-määreellä ja ilman static-määrettä olevien metodien eron.
    </td>
  </tr>
  <tr>
    <td>
      4
    </td>
    <td>
      Tietää olio-ohjelmoinnin perusperiaatteet ja luo luokkia, jotka kuvaavat annettua ongelma-aluetta. Tunnistaa käsitteet alkeis- ja viittaustyyppinen muuttuja. Osaa määritellä olioita, jotka sisältävät olioita. Osaa käyttää olioita metodin parametrina sekä luoda metodeja, jotka palauttavat olioita. Tuntee listarakenteen ja osaa lisätä ja poistaa listalla olevia alkioita. Tuntee käsitteen indeksi ja osaa käydä listan läpi while-toistolauseen avulla.
    </td>
  </tr>
  <tr>
    <td>
      5
    </td>
    <td>
      Ymmärtää alkeis- ja viittaustyyppisten muuttujien erot. Osaa käsitellä olioita listarakenteessa sekä käyttää listaa oliomuuttujana. Ymmärtää automaattisen testaamisen periaatteet ja osaa luoda yksinkertaisen luokan toimintaa testaavia automaattisia testejä. 
    </td>
  </tr>
  <tr>
    <td>
      6
    </td>
    <td>
      Tuntee käsitteen tiedosto. Osaa lukea tietoa erilaisista tietolähteistä (mm. tiedosto, verkko). Osaa käsitellä listassa olevaa tietoa virtana (stream-metodi) sekä tuntee muutamia virran perusoperaatioita (filter, map, collect). Ymmärtää hajautustaulun periatteen. Osaa kirjoittaa hajautustaulua käyttäviä ohjelmia. Ymmärtää luokkakaavioiden idean ja osaa piirtää ongelma-aluetta kuvaavia luokkakaavioita.
    </td>
  </tr>
  <tr>
    <td>
      7
    </td>
    <td>
      Osaa pilkkoa ohjelman useampaan osaan, missä yhden vastuulla on (tekstimuotoinen) käyttöliittymä, toinen vastuulla sovelluslogiikka. Osaa käyttää hajautustaulun avaimena ja arvona olioita. Ryhmittelee arvoja hajautustaulun avulla ja osaa käyttää listaa hajautustaulun arvona. Osaa hyödyntää Javan valmiita kirjastoja satunnaisten lukujen luomiseen. Osaa luoda yksinkertaisia simulaatioita. Kirjoittaa olioiden toimintaa testaavia automaattisia testejä.
    </td>
  </tr>
</table>

<p>
  Näitä voi tarkastella myös prosessin kannalta. Eräs koko kurssin kattava osaamistavoitehahmotelma löytyy osoitteesta <a href="https://docs.google.com/spreadsheets/d/1BFDSh1voHsllzXWPba_JnE9U9uYMOSr-HCrIRDNGMkc/edit#gid=1747703721" target="_blank" rel="noopener">https://docs.google.com/spreadsheets/d/1BFDSh1voHsllzXWPba_JnE9U9uYMOSr-HCrIRDNGMkc/edit#gid=1747703721</a>. Dokumenttiin on toistaiseksi myös kommentointioikeudet.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Ohjelmoinnin jatkokurssi
<% end %>


<p>
  Ohjelmoinnin jatkokurssin osaamistavoitteet julkaistaan ohjelmoinnin jatkokurssin alussa..
</p>



<% partial 'partials/material_sub_heading' do %>
  Työskentelytavat ja aikataulu
<% end %>

<p>
  Merkittävä osa kurssin työskenteltystä on ohjelmointia. Kurssiin kuuluu seitsemän ohjelmointitehtäväsarjaa, jotka tulee olla tehtynä maanantaisin 23:59 mennessä. Ensimmäisen osan tehtävien viimeinen palautuspäivämäärä on 11.9., toisen osan viimeinen palautuspäivämäärä on 18.9. jne.
</p>

<p>
  Kurssilla on viikoittaiset luennot tiistaisin klo 10-12 Kumpulan Exactumissa salissa A111 (ei luentoja 3.10. ja 10.10.). Luentojen lisäksi kurssilla järjestetään kurssitehtävien tekemiseen viikoittain ohjausta Exactum-rakennuksen salissa BK107. Ohjausta järjestetään 5.9.-20.10. (Ohjelmoinnin perusteet). Ohjaustilaisuudet ovat kaikille avoimia. Sähköpostitse tapahtuvaa ohjausta ei kurssilla ole.
</p>

<p>
  Ohjaustilaisuuksien aikataulu (sali BK107)
</p>

<table class="table">
  <tr>
    <th>
      Päivä
    </th>
    <th>
      Kellonajat
    </th>
  </tr>
  <tr>
    <td>
      Maanantai
    </td>
    <td>
      12-18
    </td>
  </tr>
  <tr>
    <td>
      Tiistai
    </td>
    <td>
      12-16
    </td>
  </tr>
  <tr>
    <td>
      Torstai
    </td>
    <td>
      14-16
    </td>
  </tr>
  <tr>
    <td>
      Perjantai
    </td>
    <td>
      10-16
    </td>
  </tr>
</table>


<p>
  Kumpulan Exactumin mikroluokissa (BK107, B221) saa työskennellä myös ohjausaikojen ulkopuolella, jos siellä ei ole tuolloin muuta toimintaa.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Tukiväylät
<% end %>

<p>
  Kurssien ensisijainen tukiväylä on Kumpulan kampuksella Exactumissa tapahtuva ohjaus. Ohjaustilaisuudet ovat avoimia tilaisuuksia, johon saa tulla vapaasti kysymään apua tehtäviin tai juttelemaan tehtävistä.
</p>

<p>
  Verkon yli nopein tapa avun kysymiseen on kurssin keskustelukanava <code>#mooc.fi</code>, johon pääsee helpointen kanavan Matrix-huoneen kautta: <a href="https://riot.im/app/#/room/#mooc.fi:matrix.org"  target="_blank" rel="noopener">https://riot.im/app/#/room/#mooc.fi:matrix.org</a>. Jos et pidä modernista teknologiasta, voit myös liityä huoneeseen Ircnetin kautta seuraamalla näitä ohjeita: <a href="http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/" target="_blank" rel="noopener">http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/</a>.
</p>

<p>
  Huomaathan, että kanavan osallistujat ovat kanssaopiskelijoita ja kurssin aiemmin tehneitä opiskelijoita. Toiminta perustuu vapaaehtoisuuteen.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Kurssimateriaalin lukeminen
<% end %>


<p>
  Lue kurssimateriaalia siten, että teet samalla itse kaikki lukemasi esimerkit. Esimerkkeihin kannattaa tehdä pieniä muutoksia ja tarkkailla, miten muutokset vaikuttavat ohjelman toimintaan. Äkkiseltään voisi luulla, että esimerkkien tekeminen ja muokkaaminen hidastaa opiskelua. Tämä ei kuitenkaan pidä paikkansa.
</p>

<p>
  Proseduraalisten taitojen kuten ohjelmoinnin oppiminen perustuu oleellisesti aktiiviseen tekemiseen ja rutiinin kasvattamiseen. Esimerkkien ja erityisesti erilaisten omien kokeilujen tekeminen on parhaita tapoja "sisäistää" kurssin aihepiiri.
</p>

<p>
  Pyri tekemään tai ainakin yrittämään tehtäviä sitä mukaa kuin luet kurssimateriaalia. Jos et osaa heti tehdä jotain tehtävää, älä masennu, vaan kysy neuvoa tehtävän tekemiseen. Haastavimpia tehtäviä kannattaa tehdä useampaan otteeseen siten, että tehtävien uudelleen tekemisen välillä pitää muutaman tunnin tai päivän tauon.
</p>

<p>
  Kurssimateriaalia ei ole tarkoitettu vain kertaalleen luettavaksi. Joudut varmasti myöhemmin palaamaan jo aiemmin lukemiisi kohtiin tai aiemmin tekemiisi tehtäviin. Kurssimateriaali teksti ei myöskään sisällä kaikkea oleellista ohjelmointiin liittyvää. Itse asiassa ei ole olemassa kirjaa josta löytyisi kaikki oleellinen. Joudut joka tapauksessa ohjelmoijan urallasi etsimään tietoa myös omatoimisesti. Kurssin harjoitukset sisältävät jo jonkun verran ohjeita, mistä suunnista ja miten hyödyllistä tietoa on mahdollista löytää.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Tehtävätyypit ja tehtävien tekeminen
<% end %>

<p>
  Kurssin tehtävät on upotettu osaksi kurssimateriaalia. Kurssitehtävät sisältävät ohjelmointitehtäviä (20-30 osaa kohden), monivalintatehtäviä, selitystehtäviä (muutamia osaa kohden), selitystehtävien vertaisarviointia (muutamia osaa kohden), tehtävien keksimistehtäviä sekä kaavioiden piirtotehtäviä.
</p>

<p>
  Ohjelmointitehtävät palautetaan kurssilla käytössä olevan Test My Code -ympäristön kautta. Monivalintatehtävät, selitystehtävät ja selitystehtäviin liittyvät vertaisarvioinnit palautetaan suoraan materiaalin kautta. Piirrustustehtävät palautetaan luennon lopuksi tai ohjaustilaisuuksissa.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Yhteistyö
<% end %>

<p>
  Hyvä yhteistyö keskittyy jokaisen osapuolen oppimiseen ja parantaa oppimistuloksia. Yhteistyö on kurssin tehtäviä tehdessä sallittua ja suositeltavaa. Jos teet tehtäviä yhdessä muiden kanssa, sinun tulee kuitenkin tehdä ja palauttaa omat ratkaisusi itse.
</p>

<p>
  Hyvä ohjesääntö yhteistyöhön on ns. <a href="http://courses.cs.washington.edu/courses/cse100/99au/syllabus.htm#OTHER" target="_blank" rel="noopener">Gilligan's Island -sääntö</a>:
</p>

<p>
  <em>

    <strong>The Gilligan's Island Rule</strong>: You are free to meet with fellow students(s) and discuss an assignment with them. Writing on a board or shared piece of paper during the meeting is acceptable; however, you should not take any written (electronic or otherwise) record away from the meeting. Everything that you derive from the collaboration should be in your head. After the meeting, engage in at least a half-hour of mind-numbing activity (like watching an episode of Gilligan's Island), before starting to work on the assignment. This will assure that you are able to reconstruct what you learned from the meeting by yourself.

  </em>
</p>


<% partial 'partials/material_sub_heading' do %>
  Opintovilpistä
<% end %>

<p>
  Kurssilla seurataan Helsingin yliopiston opintokäytäntöjä. Plagiarismi ja opintovilppi, eli esimerkiksi netissä olevien tai kaverilta saatujen vastausten kopiointi ja niiden palauttaminen omana työnä on kurssilla kiellettyä.
</p>

<p>
  Todettu opintovilppi johtaa kurssisuorituksen hylkäämiseen ja toistuva opintovilppi voi johtaa opinto-oikeuden määräaikaiseen menettämiseen.  Lue lisää osoitteesta <a href="http://blogs.helsinki.fi/alakopsaa/opiskelijalle/"  target="_blank" >http://blogs.helsinki.fi/alakopsaa/opiskelijalle/</a>.
</p>

<%= partial 'partials/quiz', locals: { id: '587bc5f11b527d0004a7971c' } %>



<% partial 'partials/material_sub_heading' do %>
  Arvostelu
<% end %>


<p>
  Kurssien arvostelu perustuu kurssitehtäviin ja koneella tehtäviin kokeisiin. Kokonaisarvostelussa tehtävien painoarvo on 70% ja kokeiden painoarvo on 30%. Käytössä on koeleikkuri, eli kurssin läpäisemiseksi kokeista tulee saada vähintään puolet pisteistä.
</p>



<p>
  Tehtäväpisteet:
</p>


<table class="table">
  <tr>
    <th>
      Osa
    </th>
    <td>
      1
    </td>
    <td>
      2
    </td>
    <td>
      3
    </td>
    <td>
      4
    </td>
    <td>
      5
    </td>
    <td>
      6
    </td>
    <td>
      7
    </td>
    <td>
      yht.
    </td>
  </tr>
  <tr>
    <th>
      Maksimipisteet
    </th>
    <td>
      10
    </td>
    <td>
      10
    </td>
    <td>
      10
    </td>
    <td>
      10
    </td>
    <td>
      10
    </td>
    <td>
      10
    </td>
    <td>
      10
    </td>
    <td>
      70
    </td>
  </tr>
  <tr>
    <th>
      Viimeinen palautuspäivämäärä
    </th>
    <td>
      11.9.
    </td>
    <td>
      18.9.
    </td>
    <td>
      25.9.
    </td>
    <td>
      2.10.
    </td>
    <td>
      9.10.
    </td>
    <td>
      16.10.
    </td>
    <td>
      23.10.
    </td>
    <td>
      
    </td>
  </tr>
</table>


<p>&nbsp;</p>

<p>
  Kokeet järjestetään toisen viikon jälkeen sekä kurssin lopussa. Kokeet tehdään koneellisesti -- lisätietoja kokeiden lähestyessä.
</p>

<p>
  Arvosanarajat:
</p>


<table class="table">
  <tr>
    <th>
      Kurssipisteet
    </th>
    <th>
      Arvosana
    </th>
  </tr>
  <tr>
    <td>
      91 tai yli
    </td>
    <td>
      5/5
    </td>
  </tr>
  <tr>
    <td>
      86-90
    </td>
    <td>
      4/5
    </td>
  </tr>
  <tr>
    <td>
      81-85
    </td>
    <td>
      3/5
    </td>
  </tr>
  <tr>
    <td>
      76-80
    </td>
    <td>
      2/5
    </td>
  </tr>
  <tr>
    <td>
      71-75
    </td>
    <td>
      1/5
    </td>
  </tr>
  <tr>
    <td>
      &lt; 70
    </td>
    <td>
      hylätty
    </td>
  </tr>
</table>

<p>&nbsp;</p>

<p>
  Täydet tehtäväpisteet saa kustakin osasta tekemällä 90% kyseisen osan tehtävistä. Huomaathan, että kaikki tehtävät eivät ole saman arvoisia ja joistakin tehtävistä voi saada enemmän pisteitä kuin toisista.
</p>

<p>
  <strong>Huom!</strong> Edellä kuvattu arvostelu olettaa, että hyväksyt analytiikkadatan keräämisen kurssin tehtävistä ja mahdollisesti koneella tehtävistä koetehtävistä. Analytiikkadata sisältää ajoittain kerättäviä aikaleimattuja kopioita työstämästäsi tehtävästä sekä tietoa kurssimateriaalin käytöstä. Analytiikkadataa ei kerätä henkilökohtaisista projekteistasi tai muualta koneeltasi.
</p>

<p>
  Luennoille osallistumisesta saa luentokertaa kohden puolikkaan lisäpisteen (huom! ei luentoja 3.10. ja 10.10.). Lisäpisteitä luennolla läsnäolosta voi saada yhteensä korkeintaan 2.
</p>


<% partial 'partials/material_heading' do %>
  Tunnukset ja työvälineet
<% end %>



<% partial 'partials/material_sub_heading' do %>
  Käyttäjätunnuksen luominen
<% end %>

<p>
  Kurssilla tarvitaan käyttäjätunnus Test My Code (TMC) -järjestelmään, jota käytetään tehtävien automaattiseen arviointiin. Käyttäjätunnuksella voit myös kirjautua tähän materiaaliin, jolloin pääset vastaamaan materiaalissa oleviin kyselyihin.
</p>

<p>
  <strong>Huom!</strong> Jos olet Helsingin yliopiston opiskelija, aseta käyttäjätunnukseksesi opiskelijanumerosi. Näin opintopisteiden liittäminen kurssisuoritukseen helpottuu merkittävästi. Jos taas et ole Helsingin yliopiston opiskelija, keksi itsellesi sopiva käyttäjätunnus. Kun jatkossa kysymme TMC-tunnustasi, tarkoitamme sillä tätä käyttäjätunnusta.
</p>

<p>
  Käyttäjätunnuksen luominen onnistuu sivulla <a href="https://tmc.mooc.fi/user/new" target="_blank" rel="noopener">https://tmc.mooc.fi/user/new</a>.
</p>

<p>
  Kun olet luonut käyttäjätunnuksen, voit kirjautua tähän materiaaliin materiaalin oikeassa ylälaidassa olevan "Kirjaudu sisään"-napin kautta.
</p>

<% partial 'partials/material_sub_heading' do %>
  Ohjelmointiympäristön asentaminen
<% end %>


<p>
  Kurssin ohjelmointiympäristönä käytetään NetBeans-nimistä ohjelmointiympäristöä, johon lisätään TMC-niminen liitännäinen. Nämä työvälineet löytyvät Kumpulan kampuksen Exactumin mikroluokista B221 ja BK107 asennettuna nimellä "TMCBeans".
</p>

<p>
  Jos teet kurssia kotoa, tulee sinun asentaa koneellesi sekä tuki Java-ohjelmien kehittämiselle, että ohjelmien kehittämiseen käytettävä NetBeans with TMC-ympäristö.
</p>

<ul>

  <li>
    <strong>Javan asentaminen (* linux, kts. alla!)</strong>: lataa uusin Javan kehitysympäristö (Java SE Development Kit 8u112) osoitteesta <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html" target="_blank" rel="noopener">http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html</a>. Lataamasi versio riippuu käytössäsi olevasta käyttöjärjestelmästä, esimerkiksi Macintosh-käyttäjät lataavat tiedoston <code>jdk-8u112-macosx-x64.dmg</code> ja 64-bittisen Windows-käyttöjärjestelmän käyttäjät lataavat tiedoston <code>jdk-8u112-windows-x64.exe</code>. Kun olet ladannut tiedoston, asenna se koneellesi.
  </li>

  <li>
    <strong>NetBeans with TMC:n asentaminen</strong>: Mene osoitteeseen <a href="http://update.testmycode.net/installers/tmc-netbeans_org_mooc/" target="_blank" rel="noopener">http://update.testmycode.net/installers/tmc-netbeans_org_mooc/</a>. Osoitteessa on listattuna eri asennusohjelmat eri käyttöjärjestelmille -- valitse listalla olevista sopivin ja lataa se. Esimerkiksi Windows-käyttäjät lataavat tiedoston <code>http://update.testmycode.net/installers/tmc-netbeans_org_mooc/tmc-netbeans_org_mooc_tmcbeans-windows.exe</code> ja Linuxilla <code>http://update.testmycode.net/installers/tmc-netbeans_org_mooc/tmc-netbeans_org_mooc_tmcbeans-windows.sh</code> jne. Kun tiedoston lataaminen on valmis, asenna sovellus koneellesi.
  </li>
</ul>


<p>
  <strong>(*)</strong> Linux-koneilla OpenJDK:n asentaminen on todennäköisesti helpompaa kuin yllämainitun Oraclen Java-version. OpenJDK:n asennus tapahtuu Ubuntussa komentoriviltä seuraavalla komennolla:
</p>

<pre>
sudo apt-get install openjdk-8-jdk
</pre>

<p>
  Asenna tämän jälkeen vielä OpenJFX, jota käytetään käyttöliittymien tekemiseen ja käsittelyyn. Tämän asentaminen onnistuu Ubuntussa (komentoriviltä) komennolla:
</p>

<pre>
sudo apt-get install openjfx
</pre>

<p>
  Joissain Linux-koneissa tulee lisäksi NetBeans with TMC:n asennuksen yhteydessä asettaa ensiksi ladatulle asennuspaketille suoritusoikeudet. Tämä tapahtuu klikkaamalla asennuspakettia oikealla hiirennapilla ja valitsemalla Properties. Valitse tämän jälkeen Permissions, ja aseta Allow executing file as a program -ruutuun ruksi. Ohjelman asennuksen pitäisi tämän jälkeen käynnistyä kun tuplaklikkaat tiedostoa ja valitset Run.
</p>

<p>
  Kun olet saanut kurssin työvälineet asennettua, seuraava askel on kurssin valinta ohjelmointiympäristössä.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Oikean kurssin valinta ohjelmointiympäristössä
<% end %>

<p>
  Kurssimateriaalia käytetään kahdella kurssilla.
</p>

<ul>
  <li>
    <strong>Helsingin yliopiston syksyn 2017 kurssi Ohjelmoinnin perusteet</strong> (kurssi <a href="https://courses.helsinki.fi/fi/TKT10002/119284736" target="_blank" rel="noopener">https://courses.helsinki.fi/fi/TKT10002/119284736</a>). Jos teet kurssia Helsingin yliopistolla, valitse TMC:n asetuksista palvelimen osoitteeksi (server address) <code>https://tmc.mooc.fi/org/hy/courses/243</code>. Kurssin nimi on tällöin <code>hy-ohpe-s17</code>.
  </li>
  <li>
    <strong>Helsingin yliopiston syksyn 2017 kurssi Ohjelmoinnin jatkokurssi</strong> (kurssi <a href="https://courses.helsinki.fi/fi/TKT10003/119284733" target="_blank" rel="noopener">https://courses.helsinki.fi/fi/TKT10003/119284733</a>). Jos teet kurssia Helsingin yliopistolla, valitse TMC:n asetuksista palvelimen osoitteeksi (server address) <code>(julkaistaan myöhemmin)</code>. Kurssin nimi on tällöin <code>(julkaistaan myöhemmin)</code>.
  </li>
</ul>

<p>
  Ylläolevat asetukset saa asetettua NetBeans with TMC:n valikosta TMC -> Settings. TMC:hen asetettava käyttäjätunnus on aiemmin luomasi TMC-tunnus, ja salasana on luomallesi tunnuksellesi asettamasi salasana.
</p>



<% partial 'partials/material_sub_heading' do %>
  Analytiikkadatan keräämisestä ja kurssilla tehtävästä tutkimuksesta
<% end %>

<% partial 'partials/material_sub_sub_heading' do %>
  Analytiikkadatan kerääminen ja arvostelu
<% end %>

<p>
  Kurssin aikana tehdyistä tehtävistä kerätään tietoa. Kerätty tieto sisältää materiaalissa olevia kyselyitä, ohjelmointitehtävien vastauksia, sekä kurssimateriaalin käyttöä. Jos et hyväksy tiedon keräämistä, kurssin pisteytyksessä ei voida ottaa näitä suorituksia huomioon. Tallennettu tieto sisältää henkilökohtaisen tunnisteen, jonka perusteella ei voida suoraan päätellä henkilöllisyyttäsi. Tieto ei esimerkiksi siis sisällä nimeäsi tai sähköpostiosoitettasi.
</p>

<p>
  Varmista että TMC:n asetuksissa (Valikko TMC -> Settings) kohdassa "Send snapshots of your progress for study" on ruksi.  MOOC-suorituksia tai Helsingin yliopiston avoimen yliopiston suorituksia ei arvostella ilman tätä. Jos olet opiskelijana Helsingin yliopistolla ja et halua että työstämistäsi tehtävistä kerätään ajoittaista dataa kurssiarvostelua varten, voit suorittaa kurssin Kumpulassa järjestettävällä erilliskokeella. Analytiikkadataa kerätään vain kurssiin liittyvistä harjoitustehtävistä, ei muista projekteistasi tai muualta koneeltasi.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Kurssilla tehtävästä tutkimuksesta
<% end %>

<p>
  Kurssilla tehdään oppimiseen liittyvää tutkimusta. Tällä tutkimuksella on useampia tavoitteita: (1) lähestyä tilannetta, missä oppimateriaali ja tehtävät osaavat ottaa oppijoiden yksilölliset erot paremmin huomioon ja reagoida niihin tarjoten kohdennetumpaa opetusta, (2) kehittää digitaalisissa ympäristöissä tapahtuvaan oppimiseen liittyvää ymmärrystä ja tietoa, sekä (3) tukea tutkimustiedon kautta muita oppimaterialien kehittäjiä ja oppimisen tutkijoita. Tutkimusdatan hallinnasta vastaa Helsingin yliopiston tietojenkäsittelytieteen laitoksen Agile Education Research -ryhmän Arto Hellas. Anonymisoimattomaan tutkimusdataan eivät pääse käsiksi muut tutkijat. Voit myös pyytää milloin tahansa sinusta kerätyn datan poistamista lähettämällä sähköpostin osoitteeseen arto.hellas@cs.helsinki.fi
</p>

<p>
  Työskentelystä kerättyä tietoa käytetään tutkimuksessa jos sallit. Tutkimuksemme päätavoitteena on osaamisen kehittymisen arviointi tekemisen arvioinnin sijaan, mikä mahdollistaisi yksilöllistä osaamista parhaiten kehittävien vinkkien ja tehtävien tarjoamisen. Tutkimustuloksista ei pystytä tunnistamaan yksittäisiä opiskelijoita. Jos et salli kurssin aikana kerättyjen tietojen käyttämistä tutkimuksessa, siitä ei tule minkäänlaisia seuraamuksia.
</p>

<p>
  Kurssilla tehdään lisäksi tutkimusta, joka voi vaikuttaa kurssikokemukseen (esim. kurssisisältö). Jos osallistut tutkimukseen, saatat saada esimerkiksi uusia ominaisuuksia materiaaliin. Jos et halua osallistua tutkimukseen, saat kurssin sisällöstä perusversion. Tutkimukseen osallistuminen ei vaikuta loppuarvosanaan.
</p>


<div class="quiznator-plugin" data-quiz-id="59a92ba68858e700042f839f"></div>



<% partial 'partials/hint', locals: { name: 'Sitten materiaaliin...' } do %>

  <p>
    Löydät tämän sivun ylälaidasta linkin "Osa 1", jolla pääset ensimmäiseen osaan käsiksi. Siirtyminen onnistuu myös <%= link_to 'tästä', 'part1.html'%> painamalla. Ohjelmoinnin jatkokurssi alkaa materiaalin osasta 8.
  </p>

<% end %>


<% partial 'partials/material_sub_heading' do %>
  Kurssimateriaalin tekijät ja lisenssi
<% end %>

<p>
  Kurssimateriaalin ovat tehneet Arto Hellas (né Vihavainen) ja Matti Luukkainen. Kurssin sisältöön ovat vaikuttaneet myös Matti Paksula, Antti Laaksonen, Pekka Mikkola, Juhana Laurinharju, Martin Pärtel, Joel Kaasinen ja Mikael Nousiainen.
</p>

<p>
  Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida samalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty.
</p>

<p>
  Voit osallistua kurssimateriaalin parantamiseen myös itse. Jokaisen sivun alalaidassa on linkit, joilla pääset ehdottamaan muutoksia. Muutosten ehdottaminen vaatii <a href="https://github.com/" target="_blank">Github</a>-tunnuksen.
</p>
