---
  title: Johdanto
---

<% partial 'partials/material_heading' do %>
  Yleistä
<% end %>

<p>
  Tämä materiaali on tarkoitettu Helsingin yliopiston syksyn 2017 kursseille ohjelmoinnin perusteet (5 op) ja ohjelmoinnin jatkokurssi (5 op). Materiaalin osat 1-7 liittyvät periodissa I järjestettävään kurssiin ohjelmoinnin perusteet ja osat 8-14 periodissa II järjestettävään kurssiin ohjelmoinnin jatkokurssi.
</p>

<p>
  Materiaali on tarkoitettu kaikille ohjelmoinnin oppimisesta kiinnostuneille. Kurssille saa osallistua kuka tahansa Helsingin yliopiston opiskelija. Aiempaa ohjelmointikokemusta ei oleteta tai vaadita. Kurssille osallistumista varten tarvitset tietokoneen sekä mahdollisuuden kurssilla käytettävien ohjelmistojen asentamiseen. Helsingin yliopiston opiskelijat voivat tehdä kurssin tehtäviä Kumpulan kampuksella sijaitsevilla koneilla, jolloin omaa tietokonetta ei tarvita.
</p>

<p>
  Kurssien oletettu työkuorma on noin 8-20 tuntia yhtä osaa kohden. Varaa kurssin tekemiseen aikaa.
</p>

<% partial 'partials/material_sub_heading' do %>
  Osaamistavoitteet
<% end %>

<p>
  Kursseilla opitaan perustaidot ohjelmoinnista Java-kielellä. Tutuksi tulevat muunmuassa syötteen lukeminen, tulostaminen, ehtolauseet, toistolauseet, listojen käsittely, oliot, ymym.
</p>

<p>
  Ison pyörän myötä tapahtunut osaamistavoitteiden päivittynyt hahmotelma löytyy osoitteesta <a href="https://docs.google.com/spreadsheets/d/1BFDSh1voHsllzXWPba_JnE9U9uYMOSr-HCrIRDNGMkc/edit#gid=1747703721" target="_blank" rel="noopener">https://docs.google.com/spreadsheets/d/1BFDSh1voHsllzXWPba_JnE9U9uYMOSr-HCrIRDNGMkc/edit#gid=1747703721</a>. Dokumenttiin on toistaiseksi myös kommentointioikeudet.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Ohjelmoinnin perusteet
<% end %>

<table class="table">
  <tr>
    <th>
      Osa
    </th>
    <th>
      Osaamistavoitteet
    </th>
  </tr>
  <tr>
    <td>
      1
    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td>
      2
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      3
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      4
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      5
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      6
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      7
    </td>
    <td>
    </td>
  </tr>
</table>


<% partial 'partials/material_sub_sub_heading' do %>
  Ohjelmoinnin jatkokurssi
<% end %>


<p>
  Julkaistaan myöhemmin..
</p>



<% partial 'partials/material_sub_heading' do %>
  Työskentelytavat ja aikataulu
<% end %>

<p>
  Molemmat kurssit (ohjelmoinnin perusteet ja ohjelmoinnin jatkokurssi) on jaettu seitsemään osaan. Jokaista osaa kohden on varattu noin viikko työskentelyaikaa. Jokaista viikkoa kohden Kumpulan kampuksella on noin 20 tuntia ohjausta, johon saa osallistua aina ehtiessään.
</p>

<p>
  Kurssin työskentelyyn kuuluu kurssimateriaalin lukeminen sekä kurssitehtävien tekeminen (joko kotona tai Kumpulan kampuksella Helsingissä).
</p>

<p>
  Kurssilla järjestetään viikoittain ohjausta Kumpulan kampuksella Exactum-rakennuksen salissa BK107. Ohjausta järjestetään 5.9.-20.10. (Ohjelmoinnin perusteet) ja 13.3.-7.5. (Ohjelmoinnin jatkokurssi) myöhemmin ilmoitettavina aikoina. Ohjaustilaisuudet ovat kaikille avoimia... TODO: vapaaehtoinen osallistuminen -- sähköpostitse ohjausta kurssilla ei ole, eli apua pitää hakea tarvittaessa paikan päältä.
</p>

<p>
  Yksittäisen osan viimeinen palautusaika on aina maanantaisin klo 23:59.
</p>

<p>
  Kumpulan Exactumin mikroluokissa (BK107, B221) saa työskennellä myös ohjausaikojen ulkopuolella, jos siellä ei ole tuolloin muuta toimintaa.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Kurssimateriaalin lukeminen
<% end %>


<p>
  Lue kurssimateriaalia siten, että teet samalla itse kaikki lukemasi esimerkit. Esimerkkeihin kannattaa tehdä pieniä muutoksia ja tarkkailla, miten muutokset vaikuttavat ohjelman toimintaan. Äkkiseltään voisi luulla, että esimerkkien tekeminen ja muokkaaminen hidastaa opiskelua. Tämä ei kuitenkaan pidä paikkansa.
</p>

<p>
  Proseduraalisten taitojen kuten ohjelmoinnin oppiminen perustuu oleellisesti aktiiviseen tekemiseen ja rutiinin kasvattamiseen. Esimerkkien ja erityisesti erilaisten omien kokeilujen tekeminen on parhaita tapoja "sisäistää" kurssin aihepiiri.
</p>

<p>
  Pyri tekemään tai ainakin yrittämään tehtäviä sitä mukaa kuin luet kurssimateriaalia. Jos et osaa heti tehdä jotain tehtävää, älä masennu, vaan kysy neuvoa tehtävän tekemiseen. Haastavimpia tehtäviä kannattaa tehdä useampaan otteeseen siten, että tehtävien uudelleen tekemisen välillä pitää muutaman tunnin tai päivän tauon.
</p>

<p>
  Kurssimateriaalia ei ole tarkoitettu vain kertaalleen luettavaksi. Joudut varmasti myöhemmin palaamaan jo aiemmin lukemiisi kohtiin tai aiemmin tekemiisi tehtäviin. Kurssimateriaali teksti ei myöskään sisällä kaikkea oleellista ohjelmointiin liittyvää. Itse asiassa ei ole olemassa kirjaa josta löytyisi kaikki oleellinen. Joudut joka tapauksessa ohjelmoijan urallasi etsimään tietoa myös omatoimisesti. Kurssin harjoitukset sisältävät jo jonkun verran ohjeita, mistä suunnista ja miten hyödyllistä tietoa on mahdollista löytää.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Tehtävätyypit ja tehtävien tekeminen
<% end %>

<p>
  Kurssin tehtävät on upotettu osaksi kurssimateriaalia. Kurssitehtävät sisältävät ohjelmointitehtäviä (20-30 osaa kohden), monivalintatehtäviä, selitystehtäviä (muutamia osaa kohden), selitystehtävien vertaisarviointia (muutamia osaa kohden), tehtävien keksimistehtäviä, sekä kaavioiden piirtotehtäviä.
</p>

<p>
  Ohjelmointitehtävät palautetaan kurssilla käytössä olevan Test My Code -ympäristön kautta. Monivalintatehtävät, selitystehtävät ja selitystehtäviin liittyvät vertaisarvioinnit palautetaan suoraan materiaalin kautta. Piirrustustehtävät palautetaan luennon lopuksi tai harjoitustapahtumissa.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Yhteistyö
<% end %>

<p>
  Hyvä yhteistyö keskittyy jokaisen osapuolen oppimiseen ja parantaa oppimistuloksia. Yhteistyö on kurssin tehtäviä tehdessä sallittua ja suositeltavaa. Jos teet tehtäviä yhdessä muiden kanssa, sinun tulee kuitenkin tehdä ja palauttaa omat ratkaisusi itse.
</p>

<p>
  Hyvä ohjesääntö yhteistyöhön on ns. <a href="http://courses.cs.washington.edu/courses/cse100/99au/syllabus.htm#OTHER" target="_blank" rel="noopener">Gilligan's Island -sääntö</a>:
</p>

<p><em>

  <strong>The Gilligan's Island Rule</strong>: You are free to meet with fellow students(s) and discuss an assignment with them. Writing on a board or shared piece of paper during the meeting is acceptable; however, you should not take any written (electronic or otherwise) record away from the meeting. Everything that you derive from the collaboration should be in your head. After the meeting, engage in at least a half-hour of mind-numbing activity (like watching an episode of Gilligan's Island), before starting to work on the assignment. This will assure that you are able to reconstruct what you learned from the meeting by yourself.

</em></p>

<p>
  Edellä mainittua sääntöä noudattamalla yhteistyön kautta kertynyt oppi on hyvää.
<p>

</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Tukiväylät
<% end %>

<p>
  Kurssien ensisijainen tukiväylä on Kumpulan kampuksella Exactumissa tapahtuva ohjaus. Ohjaustilaisuudet ovat avoimia tilaisuuksia, johon saa tulla vapaasti kysymään apua tehtäviin tai juttelemaan tehtävistä.
</p>

<p>
  Verkon yli nopein tapa avun kysymiseen on kurssin keskustelukanava <code>#mooc.fi</code>, johon pääsee helpointen kanavan Matrix-huoneen kautta: <a href="https://riot.im/app/#/room/#mooc.fi:matrix.org"  target="_blank" rel="noopener">https://riot.im/app/#/room/#mooc.fi:matrix.org</a>. Jos et pidä modernista teknologiasta, voit myös liityä huoneeseen Ircnetin kautta seuraamalla näitä ohjeita: <a href="http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/" target="_blank" rel="noopener">http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/</a>.
</p>

<p>
  Huomaathan, että kanavan osallistujat ovat kanssaopiskelijoita ja kurssin aiemmin tehneitä opiskelijoita. Toiminta perustuu vapaaehtoisuuteen.
</p>

<p>TODO: nettietiketti</p>


<% partial 'partials/material_sub_heading' do %>
  Opintovilpistä
<% end %>

<p>
  Kurssilla seurataan Helsingin yliopiston opintokäytäntöjä. Plagiarismi ja opintovilppi, eli esimerkiksi netissä olevien tai kaverilta saatujen vastausten kopiointi ja niiden palauttaminen omana työnä on kurssilla kiellettyä. Luonnollisesti myös kaikki yhteistyö ja avun kysyminen tai antaminen on kiellettyä konekokeen tehtäviin liittyen.
</p>

<p>
  Todettu opintovilppi johtaa kurssisuorituksen hylkäämiseen ja toistuva opintovilppi voi johtaa opinto-oikeuden määräaikaiseen menettämiseen.  Lue lisää osoitteesta <a href="http://blogs.helsinki.fi/alakopsaa/opiskelijalle/"  target="_blank" >http://blogs.helsinki.fi/alakopsaa/opiskelijalle/</a>.
</p>

<%= partial 'partials/quiz', locals: { id: '587bc5f11b527d0004a7971c' } %>



<% partial 'partials/material_sub_heading' do %>
  Arvostelu
<% end %>


<p>
  Kurssien arvostelu perustuu kurssitehtäviin sekä kurssin lopulla järjestettävään kokeeseen. Kokonaisarvostelussa tehtävien painoarvo on 77% ja kokeen painoarvo on 23%. Käytössä on koeleikkuri, eli kurssin läpäisemiseksi kurssikokeesta tulee saada vähintään puolet pisteistä.
</p>



<p>
  Tehtäväpisteet:
</p>


<table cellpadding="5">
  <tr>
    <th>
      Osa
    </th>
    <td>
      1
    </td>
    <td>
      2
    </td>
    <td>
      3
    </td>
    <td>
      4
    </td>
    <td>
      5
    </td>
    <td>
      6
    </td>
    <td>
      7
    </td>
    <td>
      yht.
    </td>
  </tr>
  <tr>
    <th>
      Maksimipisteet
    </th>
    <td>
      11
    </td>
    <td>
      11
    </td>
    <td>
      11
    </td>
    <td>
      11
    </td>
    <td>
      11
    </td>
    <td>
      11
    </td>
    <td>
      11
    </td>
    <td>
      77
    </td>
  </tr>
</table>


<p>&nbsp;</p>

<p>
  Arvosanarajat:
</p>


<table cellpadding="5">
  <tr>
    <th>
      Kurssipisteet
    </th>
    <th>
      Arvosana
    </th>
  </tr>
  <tr>
    <td>
      91 tai yli
    </td>
    <td>
      5/5
    </td>
  </tr>
  <tr>
    <td>
      86-90
    </td>
    <td>
      4/5
    </td>
  </tr>
  <tr>
    <td>
      81-85
    </td>
    <td>
      3/5
    </td>
  </tr>
  <tr>
    <td>
      76-80
    </td>
    <td>
      2/5
    </td>
  </tr>
  <tr>
    <td>
      71-75
    </td>
    <td>
      1/5
    </td>
  </tr>
  <tr>
    <td>
      &lt; 70
    </td>
    <td>
      hylätty
    </td>
  </tr>
</table>

<p>&nbsp;</p>

<p>
  Täydet tehtäväpisteet saa kustakin osasta tekemällä kaikki kyseisen osan tehtävät. Pisteet skaalataan lineaarisesti, eli tekemällä puolet tehtävistä saa puolet osan pisteistä. Huomaathan, että kaikki tehtävät eivät ole saman arvoisia, eli joistakin tehtävistä voi saada enemmän pisteitä kuin toisista.
</p>

<p>
  <strong>Huom!</strong> Edellä kuvattu arvostelu olettaa, että hyväksyt analytiikkadatan keräämisen kurssin tehtävistä. Analytiikkadata sisältää ajoittain kerättäviä aikaleimattuja kopioita työstämästäsi tehtävästä sekä tietoa kurssimateriaalin käytöstä. Analytiikkadataa ei kerätä henkilökohtaisista projekteistasi tai muualta koneeltasi.
</p>

<p>
  Materiaalin oikeassa alalaidassa mahdollisesti näkyvässä visualisaatiossa oleva työskentelypisteytys ei vaikuta kurssin arvosteluun. Siitä on toivottavasti kuitenkin hyötyä oman opiskelun rytmittämisessä.
</p>


<% partial 'partials/material_heading' do %>
  Tunnukset ja työvälineet
<% end %>



<% partial 'partials/material_sub_heading' do %>
  Käyttäjätunnuksen luominen
<% end %>

<p>
  Kurssilla tarvitaan käyttäjätunnus Test My Code (TMC) -järjestelmään, jota käytetään tehtävien automaattiseen arviointiin. Käyttäjätunnuksella voit myös kirjautua tähän materiaaliin, jolloin pääset vastaamaan materiaalissa oleviin kyselyihin.
</p>

<p>
  <strong>Huom!</strong> Jos olet Helsingin yliopiston opiskelija, aseta käyttäjätunnukseksesi opiskelijanumerosi. Näin opintopisteiden liittäminen kurssisuoritukseen helpottuu merkittävästi. Jos taas et ole Helsingin yliopiston opiskelija, keksi itsellesi sopiva käyttäjätunnus. Kun jatkossa kysymme TMC-tunnustasi, tarkoitamme sillä tätä käyttäjätunnusta.
</p>

<p>
  Käyttäjätunnuksen luominen onnistuu sivulla <a href="https://tmc.mooc.fi/user/new" target="_blank" rel="noopener">https://tmc.mooc.fi/user/new</a>.
</p>

<p>
  Kun olet luonut käyttäjätunnuksen, voit kirjautua tähän materiaaliin materiaalin oikeassa ylälaidassa olevan "Kirjaudu sisään"-napin kautta.
</p>

<% partial 'partials/material_sub_heading' do %>
  Ohjelmointiympäristön asentaminen
<% end %>


<p>
  Kurssin ohjelmointiympäristönä käytetään NetBeans-nimistä ohjelmointiympäristöä, johon lisätään TMC-niminen liitännäinen. Nämä työvälineet löytyvät Kumpulan kampuksen Exactumin mikroluokista B221 ja BK107 asennettuna nimellä "TMCBeans".
</p>

<p>
  Jos teet kurssia kotoa, tulee sinun asentaa koneellesi sekä tuki Java-ohjelmien kehittämiselle, että ohjelmien kehittämiseen käytettävä NetBeans with TMC-ympäristö.
</p>

<ul>

  <li>
    <strong>Javan asentaminen (* linux, kts. alla!)</strong>: lataa uusin Javan kehitysympäristö (Java SE Development Kit 8u112) osoitteesta <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html" target="_blank" rel="noopener">http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html</a>. Lataamasi versio riippuu käytössäsi olevasta käyttöjärjestelmästä, esimerkiksi Macintosh-käyttäjät lataavat tiedoston <code>jdk-8u112-macosx-x64.dmg</code> ja 64-bittisen Windows-käyttöjärjestelmän käyttäjät lataavat tiedoston <code>jdk-8u112-windows-x64.exe</code>. Kun olet ladannut tiedoston, asenna se koneellesi.
  </li>

  <li>
    <strong>NetBeans with TMC:n asentaminen</strong>: Mene osoitteeseen <a href="http://update.testmycode.net/installers/tmc-netbeans_org_mooc/" target="_blank" rel="noopener">http://update.testmycode.net/installers/tmc-netbeans_org_mooc/</a>. Osoitteessa on listattuna eri asennusohjelmat eri käyttöjärjestelmille -- valitse listalla olevista sopivin ja lataa se. Esimerkiksi Windows-käyttäjät lataavat tiedoston <code>http://update.testmycode.net/installers/tmc-netbeans_org_mooc/tmc-netbeans_org_mooc_tmcbeans-windows.exe</code> ja Linuxilla <code>http://update.testmycode.net/installers/tmc-netbeans_org_mooc/tmc-netbeans_org_mooc_tmcbeans-windows.sh</code> jne. Kun tiedoston lataaminen on valmis, asenna sovellus koneellesi.
  </li>
</ul>


<p>
  <strong>(*)</strong> Linux-koneilla OpenJDK:n asentaminen on todennäköisesti helpompaa kuin yllämainitun Oraclen Java-version. OpenJDK:n asennus tapahtuu Ubuntussa komentoriviltä seuraavalla komennolla:
</p>

<pre>
sudo apt-get install openjdk-8-jdk
</pre>

<p>
  Asenna tämän jälkeen vielä OpenJFX, jota käytetään käyttöliittymien tekemiseen ja käsittelyyn. Tämän asentaminen onnistuu Ubuntussa (komentoriviltä) komennolla:
</p>

<pre>
sudo apt-get install openjfx
</pre>

<p>
  Joissain Linux-koneissa tulee lisäksi NetBeans with TMC:n asennuksen yhteydessä asettaa ensiksi ladatulle asennuspaketille suoritusoikeudet. Tämä tapahtuu klikkaamalla asennuspakettia oikealla hiirennapilla ja valitsemalla Properties. Valitse tämän jälkeen Permissions, ja aseta Allow executing file as a program -ruutuun ruksi. Ohjelman asennuksen pitäisi tämän jälkeen käynnistyä kun tuplaklikkaat tiedostoa ja valitset Run.
</p>

<p>
  Kun olet saanut kurssin työvälineet asennettua, seuraava askel on kurssin valinta ohjelmointiympäristössä.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Oikean kurssin valinta ohjelmointiympäristössä
<% end %>

<p>
  Kurssimateriaalia käytetään kahdella kurssilla.
</p>

<ul>
  <li>
    <strong>Helsingin yliopiston syksyn 2017 kurssi Ohjelmoinnin perusteet</strong> (kurssi <a href="https://courses.helsinki.fi/fi/TKT10002/119284736" target="_blank" rel="noopener">https://courses.helsinki.fi/fi/TKT10002/119284736</a>). Jos teet kurssia Helsingin yliopistolla, valitse TMC:n asetuksista palvelimen osoitteeksi (server address) <code>(julkaistaan myöhemmin)</code>. Kurssin nimi on tällöin <code>(julkaistaan myöhemmin)</code>.
  </li>
  <li>
    <strong>Helsingin yliopiston syksyn 2017 kurssi Ohjelmoinnin jatkokurssi</strong> (kurssi <a href="https://courses.helsinki.fi/fi/TKT10003/119284733" target="_blank" rel="noopener">https://courses.helsinki.fi/fi/TKT10003/119284733</a>). Jos teet kurssia Helsingin yliopistolla, valitse TMC:n asetuksista palvelimen osoitteeksi (server address) <code>https://tmc.mooc.fi/org/hy/courses/208</code>. Kurssin nimi on tällöin <code>hy-ohja-k2017</code>.
  </li>
</ul>

<p>
  Ylläolevat asetukset saa asetettua NetBeans with TMC:n valikosta TMC -> Settings. TMC:hen asetettava käyttäjätunnus on aiemmin luomasi TMC-tunnus, ja salasana on luomallesi tunnuksellesi asettamasi salasana.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Analytiikkadatan kerääminen ja arvostelu
<% end %>

<p>
  Varmista että TMC:n asetuksissa (Valikko TMC -> Settings) kohdassa "Send snapshots of your progress for study" on ruksi.  MOOC-suorituksia tai Helsingin yliopiston avoimen yliopiston suorituksia ei arvostella ilman tätä. Jos olet opiskelijana Helsingin yliopistolla ja et halua että työstämistäsi tehtävistä kerätään ajoittaista dataa kurssiarvostelua varten, voit suorittaa kurssin Kumpulassa järjestettävällä erilliskokeella. Analytiikkadataa kerätään vain kurssiin liittyvistä harjoitustehtävistä, ei muista projekteistasi tai muualta koneeltasi.
</p>


<%= partial 'partials/quiz', locals: { id: '587bc4a71b527d0004a7971b' } %>


<% partial 'partials/material_sub_heading' do %>
  Ensimmäisen ohjelman palauttaminen
<% end %>


<p>
  Seuraavalla videolla näytetään miten tehtävien tekeminen ja palauttaminen NetBeansilla ja TMC:llä tapahtuu. Video perustuu hieman aiempaan kurssiin, joten tehtävä ei ole täysin identtinen nykyisen kurssin ensimmäisen tehtävän kanssa.
</p>

<iframe width="420" height="315" src="//www.youtube.com/embed/sQYq2LISMRU" frameborder="0" allowfullscreen=""></iframe>



<% partial 'partials/material_sub_heading' do %>
  Kurssimateriaalin tekijät ja lisenssi
<% end %>

<p>
  Kurssimateriaalin ovat tehneet Arto Hellas (né Vihavainen) ja Matti Luukkainen. Kurssin sisältöön ovat vaikuttaneet myös Matti Paksula, Antti Laaksonen, Pekka Mikkola, Juhana Laurinharju, Martin Pärtel, Joel Kaasinen ja Mikael Nousiainen.
</p>

<p>
  Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida samanlaisella vapaalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty.
</p>


<% partial 'partials/material_sub_heading' do %>
  Kurssilla tehtävästä tutkimuksesta
<% end %>


<p>
  Kurssilla tehdään oppimiseen liittyvää tutkimusta. Tällä tutkimuksella on useampia tavoitteita: (1) lähestyä tilannetta, missä oppimateriaali ja tehtävät osaavat ottaa oppijoiden yksilölliset erot paremmin huomioon ja reagoida niihin tarjoten kohdennetumpaa opetusta, (2) kehittää digitaalisissa ympäristöissä tapahtuvaan oppimiseen liittyvää ymmärrystä ja tietoa, sekä (3) tukea tutkimustiedon kautta muita oppimaterialien kehittäjiä ja oppimisen tutkijoita.
</p>

<p>
  Tutkimusdatan hallinnasta vastaa Helsingin yliopiston tietojenkäsittelytieteen laitoksen Agile Education Research -ryhmän Arto Hellas. Anonymisoimattomaan tutkimusdataan eivät pääse käsiksi muut tutkijat.
</p>


<%= partial 'partials/quiz', locals: { id: '5877e97fd095c40004e4b1a9' } %>





<% partial 'partials/hint', locals: { name: 'Sitten materiaaliin...' } do %>

  <p>
    Löydät tämän sivun ylälaidasta linkin "Osa 1", jolla pääset ensimmäiseen osaan käsiksi. Siirtyminen onnistuu myös <%= link_to 'tästä', 'part1.html'%> painamalla. Ohjelmoinnin jatkokurssi alkaa materiaalin osasta 8.
  </p>

<% end %>
